---
import Layout from "../layouts/Layout.astro";
import InputChat from "../components/InputChat";
---

<Layout title="Rosetta Translate">
  <main>
    <h1 class="py-5 text-8xl font-bold">
      <span class="text-gradient">Rosetta</span> Translate
    </h1>

    <InputChat client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
